/* .container{
    background-image: url(./images/back3.jpg);
    background-repeat: no-repeat;
    width: 100%;
} */
.container{
    /* background-color: red; */
    
    padding: 20px;
    /* height: auto; */
    /* max-width: max-content; */
    background-repeat: no-repeat;
    background-size: cover;
    
}

#root{
    /* background: black; */
    margin: 0;
    max-width: 100%;
    min-height: 100%;
}


/* *{
    font-family: sans-serif;
} */


.nav{
    background-color: rgb(66, 157, 232);
    border-radius: 10px;
    height: 45px;
    display: flex;
    justify-content: space-between;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.navLeft{
    display: flex;
}

.navBtn {
    margin-left: 10px;
    margin-top: 8px;
}

.navTxt {
    margin: 2px;
    margin-top: 8px;
    color: white;
}

.navMiddle{
    flex: 0.8;
}

.navIcon{
    margin-top: 8px;
    margin-right: 5px;
}

.topIcns {
    height: 30px;
    display: flex;
    /* gap: 30px; */
    justify-content: space-between;
    
}

hr {
    border: 2px solid black;
}

.topSpace{
    /* flex: 0.2; */
}

.btns{
    display: flex;
    flex: 1;
    /* justify-content: space-between; */
    flex-wrap: wrap;
}

.newBtn{

}



.quotationNo{
    
    flex: 1;
    text-align: right;
    margin-top: 10px;
    margin-right: 55px;
}


.accDetailsCd{
    /* box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset; */
    /* box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px; */
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    border-radius: 40px;
    /* background-color: transparent; */
    background-color: rgba(255, 255, 255, 0.8);
    
}

.accDetails{
    display: flex;
    gap: 40px;
    margin-left: 15px;
}

.accDetails div{
    /* margin-left: 30px; */
}

.printBtn{
    background-color: rgb(66, 157, 232);
    border: 0.1px solid;
    border-radius: 10px;
    margin-right: 5px;
    padding: 3px 20px;
    border:2px solid white;
    color: white;
    transition: 0.2 all;
    font-size: 13px;
}

.printP{
    /* margin-top: 20px; */
}

.printBtn:hover{
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.printBtn:active{
    transform: scale(0.98);
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}
/* .printBtn:active:after{
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
} */

.inputFields{
    display: flex;
    gap: 6px;
    margin-top: -15px;
    /* background-color: rgb(240, 248, 255); */
    /* padding: 10px;
    border-radius: 5px; */
}

.leftField{
    flex: 0.5;
    
}

.rightField{
    flex: 0.5;

}

.leftCard{
    box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
    /* padding: 15px;
    border-radius: 5px; */
    /* background-color: rgb(203, 232, 255); */
}

.rightCard{
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    
        /* border-radius: 5px;
        background-color: rgb(203, 232, 255); */
}

.cardFields div{
    /* margin-bottom: 1px; */
    /* background-color: white; */
    
}

/* .loanProduct{
    margin-left: 4px;
} */

.searchBtn{
    padding: 1px 5px;
    border: none;
    border-radius: 10px;
    margin-left: 5px;
    color: white;
    background-color: rgb(66, 157, 232);;
}
.searchBtn:active{
    transform: scale(0.98);
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}
.searchBtn:hover{
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

/* .currency{
    margin-left: 34px;
} */

.tenorRow{
    display: block;
    border: 1px solid;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    border: none;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.8);
}
.tenorRow div{
    /* margin-left: 10px; */
    /* margin-top: 5px; */
}

.intRow{
    border: 1px solid;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    border: none;
    /* padding-top: 6px;
    padding-bottom: 0.5px; */
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.8);
}
.intRow div{
    /* margin-left: 10px; */

}

.moratinumRow{
    display: flex;
    justify-content: space-between;
}
.moratinumRow div{
    /* margin-left: 8px; */

}

.btm3{
    border: 1px solid;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    border: none;
    /* padding-left: 4px;
    padding-top: 5px;
    padding-bottom: 1px; */
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.8);
}

.lastDayRow{
    /* display: flex;
    flex-direction: column; */
    /* padding: 5px; */
}
.lastDayRow div{
    /* margin-left: 5px; */
}
.btm3 div{
    /* margin-left: 4px; */
}

/* input{
    background-color: #fdfeff;
}

select{
    background-color: #fdfeff;
} */

.dateField{
    border: 1px solid;
    border-radius: 10px;
    /* padding: 5px;
    padding-top: 10px;
    padding-bottom: -10px; */
    /* box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px; */
    border: none;
    background-color: rgba(255, 255, 255, 0.8);
    /* align-items: baseline; */
    /* padding-left: 4px;
    padding-top: 4px;
    padding-bottom: 1px; */
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
.dateField div{
    /* margin-left: 6px; */
}

.expiryDateRow{
    display: flex;
    padding: 5px;
}

.lastLast{
    display: flex;
    border: 1px solid;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    border: none;
    padding: 5px;
}
.lastLast div{
    /* padding-left: 15px; */
}

.footer{
    height: 40px;
    /* background-color: rgb(66, 157, 232); */
    /* margin-bottom: 100px; */
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.footerRed {
    background-color: red;
}

.txt{
    color: white;
    padding-left: 10px;
    padding-top: 10px;
}

.version{
    color: white;
    padding-top: 7px;
    padding-right: 10px;
}

/* .effectiveDate{
    margin-left: 100px;
} */

.accDetText{
    font-size: 16px;
    /* color: red; */
   
}

label{
    font-size: 13px;
}

.loanText{
    font-size: 24px;
}

.footText{
    font-size: 16px;
}

.versionTxt{
    font-size: 16px;
}

.interestRate{
    /* display: flex; */
}

.kkkk{
    display: flex;
    margin-left: -13px;
}

.tblField{
    width: 100%;
    margin-top: 5px;
}

.accD{
    display: flex;
    gap: 60px;
    margin-left: 15px;
}

.pBook{
    margin-top: 5px;
    display: flex;
    gap: 15px;
    justify-content: right;
}

.conc{
    display: flex;
    gap: 15px;
    border: none;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    padding: 5px;
    border-radius: 10px;
    margin-top: -8px;
    background-color: #f1faff;
    margin-left: 200px;
}




@media only screen and (max-width: 768px) {
    .container{

    }
    .inputFields{
        flex-direction: column !important;
    }
    .accDetails{
        flex-direction: column !important;
    }
    .accDetails div{
        text-align: left;
        width: 30%;
    }
        
    .accD{
        flex-direction: column !important;
        
    }
    .cusInput{
        margin-left: 2px !important;
        width: 180px !important;
        
    }
    .cusDiv{
        margin-left: 0px !important;
    }
    .curInput{
        margin-left: 2px !important;
        width: 180px !important;
        
    }
    .curr{
        width: 120px !important;
    }
    .curDiv{
        margin-top: -30px !important;
    }
    .accDiv{
        margin-top: -25px !important;
        margin-left: -1px !important;
    }
    .accInput{
        width: 90px !important;
        margin-left: -1px !important;
    }
    .accDis{
        width: 180px !important;
        margin-left: -1px !important;
    }
    .cusType{
        margin-top: -10px;
        margin-left: 2px !important;
    }
    .cusTInput{
        width: 180px !important;
        margin-left: 2px !important;
    }
    .conc{
        margin-top: -40px;
        margin-left: -5px;
    }
    .effInput{
        width: 180px !important;
    }
    .effLab{
        width: 50% !important;
    }
    .loanLab{
        width: 50% !important;
        margin-left: -10px !important;
    }
    .loanDInput{
        width: 90% !important;
    }
    .facAmt{
        width: 80px !important;
    }
    .tenLab{
        width: 60% !important;
    }
    .tenInput{
        width: 70% !important;
    }
    .laslas{
        margin-left: -1px !important;
    }
    .netInput{
        width: 80px !important;
    }
    .debtInput{
        width: 80px !important;
    }
    .restInput{
        width: 200px !important;
    }
    .princInput{
        width: 200px !important;
    }
    .freqInput{
        width: 200px !important;
    }
    .expInput{
        width: 100px !important;
    }
    .curLab{
        width: 40% !important;
        
    }
    .facLab{
        width: 50% !important;
    }
    .intRLab{
        width: 50% !important;
        margin-left: -35px !important;
    }
    .intRInp2{

    }
    .currency{
        margin-left: -29px !important;
    }
    .intRInp2{
        margin-left: 85px !important;
        margin-top: 5px !important;
    }
}
