body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@media only screen and(min-width: 786px) {
  .container {
    /* color: red; */
    display: flex;
  }

  /* .inputFields {
        flex-direction: column;
        flex: 100%
    }
    .accDetails{
        flex-direction: column;
        
    }
    .leftField{
        flex-direction: column;
        background-color: red;
    }
    .rightField{
        flex-direction: column;
    } */
}
